$primary: #435c79;
$primary-light: #6faae5;
$primary-dark: #203447;
$secondary: #181a1c;
$secondary-light: #5d5d5d;
$secondary-dark: #1a1b1d;
$text-light: #ffffff;

$BASE: 4px;
$font-size-xl: 12 * $BASE;
$font-size-lg: 8 * $BASE;
$font-size-md: 6 * $BASE;
$font-size-sm: 4 * $BASE;
$font-size-xs: 3 * $BASE;

$padding-size-xl: 8 * $BASE;
$padding-size-lg: 5 * $BASE;
$padding-size-md: 3 * $BASE;
$padding-size-sm: 2 * $BASE;
$padding-size-xs: 1 * $BASE;

$margin-size-xl: 8 * $BASE;
$margin-size-lg: 5 * $BASE;
$margin-size-md: 3 * $BASE;
$margin-size-sm: 2 * $BASE;
$margin-size-xs: 1 * $BASE;
